@{
    ViewData["Title"] = "Cine Project";
}

<div class="text-center">
    <h1 class="display-4 infoPageTitle">Welcome to CinePro</h1>
    <p class="introParagraph">Coming soon!  <br>
        While you wait, check out <a class="infoLink" href="https://wou.edu/academics/computer-science/"> 
        some info about our project</a>.</p>
</div>

<div class="row justify-content-center mb-4 img-conatiner" >
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 ">
        <img src="~/images/Cinema.png" alt="cinema picture animated" class="img-fluid" />
    </div>
</div>

