@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Random Team Generator</h1>
    <h5>Description:</h5>
    <p>The application is designed to randomly assign a list of names into teams based on a user-specified team size. 
        It generates team titles to help easily identify each group. When the user clicks the "Bonsai Names" button,
        the application replaces each team's title with a unique bonsai name, 
        adding a fun and thematic twist to team identification. </p>


<div class="row justify-content-center mb-4 img-conatiner" >
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 ">
        <img src="/images/bonsai-azalea-red-blooms.jpg" alt="Bonsai tree red blooms" class="img-fluid" />
    </div>
</div>

   <h6 class="btn"><a asp-action="TeamForm">START</a></h6>

</div>